{% extends 'Nav.html' %}
{% block title %} My Shop | Checkout {% endblock %}
{% block css %}
.container {
max-width: 960px;
margin-top:20px ;
margin-bottom:20px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

{% endblock %}
{% block body %}
<div class="container">
    <div class="row bg-light">
        <!-- item list -->
        
        <div class="col-md-4 order-md-2 mb-4 ">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-4 billList">
               {% if prod %} 
               <script>
                            var total=0;

                             function calculate(val,quant){
                                  
                                   total+=parseInt(val)*parseInt(quant) ;  
                                   console.log(total, val);                                              
                            }
                           </script>
                {% for pro in prod %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0"><script>document.write(String('{{pro.product.product_Name}}').length>20?String('{{pro.product.product_Name}}').slice(0, 15) + "..." : '{{pro.product.product_Name}}')</script> ( {{pro.quantity}}&times; &#8377;{{pro.product.product_price}})
                        </h6>
                        <small class="text-muted"></small>
                    </div><span class="text-muted">&#8377;
                        <script>calculate('{{pro.product.product_price}}','{{pro.quantity}}');</script>
                        <script>
                            
                            document.write(IntToRupee('{{pro.quantity}}'*'{{pro.product.product_price}}'))
                        </script>
                    </span>
                </li>

                {% endfor %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0"><b>Total</b></h6><small class="text-muted"></small>
                    </div><span class="text-muted"><b>&#8377;
                        
                           <script>  
                            document.write(IntToRupee(total))
                        </script>
                        
                        </b>
                    </span>
                    
                </li>
                {% endif %}
                     <!-- <wrap>
                    ' + (String(Items[It].product_Name).length > 20 ?
                            String(Items[It].product_Name).slice(0, 15) + "..." : Items[It].product_Name) + ' (' +
                            cart["PI" + String(Items[It].id)] + '
                 </wrap> -->

                <!-- <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">&#8377;5</span>
            </li> -->

            </ul>

            <!-- <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form> -->
        </div>

        <!-- address form  -->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form action="/order/" class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                
                <input type="hidden" name="cartJson" id="cartJson" value='{{items}}'>
                <input type="hidden" name="tprice" id="tprice">
                <script>
                            document.getElementById("tprice").value=total;
                        </script>
 
                <div class="mb-3">
                    <label for="Name">Full Name<sub style="font-size: 20px;">*</sub> </label>
                    <input type="text" class="form-control" id="email" placeholder="Manish" name="username" required>
                    <div class="invalid-feedback">
                        Please enter a valid Name for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="number">Contact Number<span class="text-muted">*</span></label>
                    <input type="number" class="form-control" id="number" name="number" placeholder="985xxxxx56"
                        maxlength="10" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <!-- <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(required)</span></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div> -->
                <input type="hidden" name="Email" id="Email" value='{{user.email}}'>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St"
                        required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" name="address2"
                        placeholder="Apartment or suite">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                        address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">





                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="mb-3">Online Payment (Recommended)</h4>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <div class="d-block my-3">
                                    <div class="custom-control custom-radio">
                                        <input id="credit" name="paymentMethod" type="radio"
                                            class="custom-control-input" checked required>
                                        <label class="custom-control-label" for="credit">Credit card</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                            required>
                                        <label class="custom-control-label" for="debit">Debit card</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="paypal" name="paymentMethod" type="radio"
                                            class="custom-control-input" required>
                                        <label class="custom-control-label" for="paypal">Paypal</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-name">Name on card</label>
                                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                        <small class="text-muted">Full name as displayed on card</small>
                                        <div class="invalid-feedback">
                                            Name on card is required
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-number">Credit card number</label>
                                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Credit card number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Expiration date required
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">CVV</label>
                                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Security code required
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to
                                    checkout</button>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <h4 class="mb-3">Cash On Delivery</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="d-block my-3">
                                    <p>Pay Amount When you get Product in you hand </p>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>



      
  
    /* accordian*/

    var acrs = document.querySelectorAll(".accordion-button");

    acrs.forEach((acr) => {
        acr.onclick = function () {
            acr.classList.toggle("collapsed");
            document.querySelector(acr.getAttribute("data-bs-target")).classList.toggle("show");

        }
    })

</script>
{% endblock %}