{% extends 'Nav.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'DropDown.css' %}">
{% endblock %}
{% block title %} My Shop | {{value}}{% endblock %}

{% block css %}

body{
background-color: rgb(233, 233, 233);
}

.main_con{
display:flex;
column-gap:20px;
}



.Filter_box_con{

padding:8px 10px;
width: 250px;
top: 70px;
position: sticky;
background-color: white;
height: 600px;
}
.filterBy_con{

}
.filterBy_inner_con{
padding:0px 4px;
}
.column{
display: flex;
padding-top: 20px;
max-width: 75%;
min-width: 70%;
row-gap: 10px;
flex-direction: column;

}
.prod_image_con {

width: 100%;

height: 290px;
background-size: contain;
background-position: center;
background-repeat: no-repeat;

}


.cart_item {
box-shadow: 0 0 7px 0px lightgrey;
border-radius:5px;
padding:10px;
display: flex;
min-height: 270px;
max-height: 500px;
/* width: 800px;*/
background-color: rgb(255, 255, 255);

}


.img_con {
width: 300px;
height: inherit;

background-position: center;
background-size: contain;
background-repeat: no-repeat;
}

.cart_deatil_con {
width: 60%;
height: inherit;
}

.Nav_helper{
padding-right:20px;
display:flex;
justify-content:end;
align-items:center;
height: 50px;
width:100%;
background-color:white
}



.prod-btn {
cursor:pointer;
border-width: 1px;
border-color: #212529;
color: #212529;
background: none;
font-size: 18px;
border-radius: 4px;
padding: 6px 10px;
font-weight: 400;
}
.prod-btn:hover{
background-color:#212529;
color:white;
}
.card-btn{
display: flex;
column-gap: 6px;
align-items: center;

}
.card-btn > button{
display: flex;
justify-content: center;

flex-direction: row;
}


{% endblock %}
{% block body %}
<div class="Nav_helper">

    <div class="DropDown">

        <button class="toggle_btn" data-toggle="#Drop_container1">Sort By:&nbsp;&nbsp;<span id="drop_text">-- Default --</span> </button>
        <div id="Drop_container1" class="Drop_container">
            <div class="DropDown_con" id="DropDown_con">
                <a href="#" target="_self" class="DropDown_values">-- Default --</a>
                <a href="#" target="_self" class="DropDown_values">New </a>
                <a href="#" target="_self" class="DropDown_values">High To Low Price </a>
                <a href="#" target="_self" class="DropDown_values">Low To High Price </a>
                <a href="#" target="_self" class="DropDown_values">Review</a>
            </div>
        </div>

    </div>

</div>
<div class="main_con">

    <div class="Filter_box_con">
        <h5> <bdo>Filter By</bdo> </h5>

        <div class="filterBy_con">
            <label for="disabledRange" class="form-label">Price</label>
            <div class="filterBy_inner_con">
                <input type="range" class="form-range" id="disabledRange" style="width: 60%;">

            </div>
            <label for="Brand" class="form-label">Brand</label>
            <div class="filterBy_inner_con">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Redmi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Apple
                    </label>
                </div>
            </div>
            <label for="Brand" class="form-label">Review</label>
            <div class="filterBy_inner_con">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        5 Star
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        4 Star
                    </label>
                </div>
            </div>

        </div>
    </div>
  
    
    <div id="Search_box_text" hidden>{{value}}</div>
    <script>
           document.getElementById("Search_Prod").value= document.getElementById("Search_box_text").innerHTML.trim();
         
    </script>

    <div class="column">

        {% for i in prod %}
        <!-- <div class="card products" style="width: 18rem;padding:4px;cursor:pointer;" itemNo={{i.id}}>
            <div class="prod_image_con" style="background-image: url(/media/{{i.product_image}});"></div>
            <div class="card-body" style="text-align:center">
                <h5 class="card-title">{{i.product_Name}}</h5>
                <p class="card-text">{{i.product_details}}</p>

                <button class="btn btn-primary addToCart" prid={{i.id}}>Cart</button>
            </div>
        </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
          </div><div class="row">
          {% endif %}      -->

        <div class="cart_item container" id="PI7">
            <div class="img_con" style="background-image: url(/media/{{i.product_image}});">
            </div>
            <div class="cart_deatil_con">
                <h3>{{i.product_Name}}</h3>
                <h5>{{i.product_details}}</h5>
                <p>
                    <del style="color: #88898b;">&#8377;350</del>
                    &nbsp;
                    <span>29% <strong>off</strong></span>
                </p>
                <h3 style="margin: 0px;">&#8377;
                    <script>document.write(IntToRupee("{{i.product_price}}"))</script>
                </h3>

                <div class="card-btn">
                    <button class="prod-btn btn-outline-primary Buy_Btn" prid={{i.id}}><i
                            class="material-icons">shopping_bag</i> Buy Now </button>

                    <button class=" prod-btn btn-outline-primary addToCart" prid={{i.id}}>
                        <i class="material-icons">shopping_cart</i>
                        Add To
                        Cart
                      </button>

                </div>

            </div>
        </div>




        {% endfor %}



    </div>
</div>
<form action="/checkout/" method="post" id="checkOut">
    <input type="hidden" id="cartItem" name="cartItem">
    {% csrf_token %}
</form>


<script>AddToCart();</script>
<script>
    var purchase_btn = document.querySelectorAll(".Buy_Btn");
    purchase_btn.forEach((pur) => {
        pur.onclick = function () {
            var prods = this.getAttribute("prid");

            var cartitems = {};
            cartitems["PI" + prods] = 1;
            console.log(cartitems)
            document.getElementById("cartItem").value = JSON.stringify(cartitems);
            document.getElementById("checkOut").submit();

        }
    }); 
</script>
<script src="{% static 'DropDown.js' %}"></script>








{% endblock %}